@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@import '~/assets/style/variables.scss';

html {
  font-family: $roboto-slab;
  font-size: 16px;
  background: $bg;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*, 
*:before, 
*:after {
  box-sizing: border-box;
  margin: 0;
}

a,
a:visited {
  color: $red;
  text-decoration: none;

  &:active {
    color: white;
  }
}