$red: #D9222A;
$red-low: rgba(217, 34, 43, 0.285);
$purple: #341C31;
$cruella: #4d0542;
$silver: rgba(225, 225, 225, 0.483);
$bg: #fff;
// DECO
$red-border: 2px solid $red;
// SIZES
$font-size-l: 3em;
$line-height-l: 3em;
$margin-hor: 20px;
$margin-ver: 24px;